body{
	background-color: #ff3112;
}
h1 {
	text-align: center;
}
p {
	text-align: center !important;
	width: 800px;
	position: absolute;
  	 right: 50%;
 	 transform: translate(50%,-50%);
 	 font-size: 20px;
	
	
}